{{ self::BASE_INCLUDES -}}
{%- for include in includes %}
from .{{ include.replace(".mojo", "") }} import *
{%- endfor %}
{%~ match decl_include %}
    {% when Some with (include) ~%}
        from .{{ include.replace(".mojo", "") }} import *
    {%~ when None %}
{%- endmatch %}

{{ body }}
